/* 1 .right button::after 화살표 위치잡기 여쭤보기
    2..footer-nav li::after 도움말 뒤에 온점 없애기
 */


:root {
    --header: #f6f8fa;
    --font-white: #fff;
    --font-black: #222;
    /* 아이콘내부bar */
    --font-inner: #eef0f3;
    --font-button: #21c531;
    --font-footer: #2a3038;
}

.font-strong {
    font-weight: 600;
}

.link {
    width: 100%;
    height: 100%;
    display: block;
    /* a영역 정해주기 위한 태그 */
}

.container {
    background-color: var(--header);
}

.band-logo {
    background: url('../img/img.png') no-repeat 0 -98px;
    width: 78px;
    height: 29px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0 0 14px;
}

nav {
    display: flex;
}
nav a {
    color: #222;
}
nav ul {
    display: flex;
}

nav ul li a {
    font-size: 14px;
    margin-right: 30px;
    line-height: 30px;
}

.login {
    font-size: 14px;
    margin-right: 30px;
    background-color: var(--font-button);
    color: var(--font-white);
    border: none;
    padding: 8px 23px;
    font-weight: 600;
}

main {
    background-color: var(--font-white);
    overflow: hidden;
}

#main-title {
    padding-top: 100px;
    display: flex;
    background-color: var(--header);
    justify-content: center;

}

.main-imgs {
    width: 540px;
    height: 695px;
    display: flex;
}

.main-article {
    display: flex;
}

.main-text {
    display: flex;
    flex-flow: column;
    padding: 120px 40px;
}

.main-text h2 {
    font-size: 48px;
    line-height: 60px;
    color: var(--font-black);
}

.main-explanation {
    font-size: 16px;
    color: #444;
    padding: 15px 0 15px;
    line-height: 30px;
}

.main-login {
    width: 340px;
    height: 54px;
    font-size: 16px;
    font-weight: 400;
}

.join {
    margin-top: 10px;
    width: 340px;
    height: 54px;
    background-color: var(--font-white);
    color: #333;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ebebeb;
    margin-bottom: 30px;
}

.guide {
    font-size: 13px;
    line-height: 26px;
}

.guide a {
    color: #2ECC71;
    font-weight: 600;
    margin: 0 0 0 10px;
    text-decoration: underline;
}

#introduce-title {
    background-color: var(--font-white);

}

.introduce-main {
    position: relative;
}

.introduce-imgs {
    background: url(../img/main2.jpg) 50% 50% no-repeat;
    background-size: cover;
    height: 540px;

}

.introduce-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-white);
    text-align: center;
}

.introduce-text h3 {
    font-size: 42px;
    line-height: 60px;
}

.introduce-explanation {
    font-size: 16px;
    line-height: 25px;
    margin: 15px 0 0 0;
}

#introduce-guide ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#introduce-guide ul li {
    margin: 50px 0 60px 0;
}

#introduce-guide ul li figure img {
    width: 300px;
    height: 160px;
    margin: 0 50px 0 0;
}

#introduce-guide ul li h4 {
    font-size: 24px;
    line-height: 30px;
    margin: 15px 0 10px 0;
    font-weight: 400;
    color: var(--font-black);
}

#introduce-guide ul li p {
    font-size: 15px;
    color: #444;
    line-height: 25px;
}

#introduce-search {
    background-color: var(--font-inner);
}

.introduce-inner {
    width: 1180px;
    margin: 0 auto;
}

.recommend-menu {
    display: flex;
    justify-content: space-between;
    padding: 50px 15px 30px 15px;
}

.recommend-menu h4 {
    color: var(--font-black);
    font-size: 24px;
}

.recommend-menu a {
    color: var(--font-black);
    font-size: 14px;
}

.recommend-container {
    display: flex;
    flex-flow: row wrap;
    width: 1160px;
}

.recommend-container li {
    display: flex;
    width: 580px;
    padding: 15px;
    box-sizing: border-box;
}

.recommend-inner {
    display: flex;
    flex-direction: row;
}

.recommend-inner img {
    width: 93px;
    height: 93px;
}

.recommend-inner figure {}

.explanation {
    color: #666;
    font-size: 13px;
    line-height: 26px;
}

.member {
    display: inline;
    font-size: 12px;
    color: #777;
}

.leader {
    display: inline;
    color: #777;
    font-size: 12px;

}

.right {
    padding: 3px 15px 3px 10px;
    position: relative;
}
.right button::after {
    position: absolute;
    left: 135px; 
    top: 80px;
    content: '';
    width: 5px;
    height: 5px; 
    border-top: 1px solid #444;
    border-right: 1px solid #444; 
    transform: rotate(45deg); 
}
/* 화살표 위치잡는법 ㅜㅜ 앱솔루트 쓰면은 플렉스 중첩으로 써도 되는건지*/

.right button {
    display: block;
    font-size: 12px;
    color: #777;
    margin: 10px 0 0 0px;
    border-radius: 15px;
    border: solid rgb(219, 219, 219) 1px;
    background-color: var(--font-white);
    padding: 3px 15px 3px 10px;
}

.right button span {
    color: #333;
}

.right h5 {
    font-size: 14px;
    color: var(--font-black);
}

.band-apps {
    display: flex;
    width: 1000px; 
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    background-color: var(--font-white);
}
.logo-inner {
    display: flex;
    width: 580px;
}
.apps-logo {
    background: url('../img/img.png') no-repeat -162px 0;
    width: 70px;
    height: 70px;
    margin: 35px 0 35px 0;
    display: flex;
}

.band-apps-inner {
    margin: 45px 0 35px 20px;
    line-height: 28px;
}

.band-apps-inner h3 {
    color: var(--font-black);
    font-size: 23px;
}

.band-apps-inner p {
    font-size: 14px;
    color: #666;
}
.store {
    display: flex;
}
.playstore{
    background: url('../img/img.png') no-repeat 0 0;
	width: 160px;
	height: 47px;
    margin: 45px 0 35px 20px;
}
.appstore{
    background: url('../img/img.png') no-repeat 0 -49px;
	width: 160px;
	height: 47px;
    margin: 45px 0 35px 20px;
}
footer {
    background-color: var(--font-footer);
    padding: 20px 0 30px 0;
    display: flex;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;


}
.footer-nav a {
    color: #777;
    font-size: 13px;
    margin-right: 0px;
    
}
.footer-nav li::after{
    content: '·';
    margin: 10px;
    color: #777;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    /* line-height: 5px; */
}
footer nav {
    display: flex;
}

address {
    display: flex;
    font-size: 13px;
}
footer .font-strong {
    color: #b3b3b3;
}

/* 푸터 도움말 뒤에 에프터 없애기 */

